@use "../css/variables.module" as *;

.excalidraw {
  .WhiteboardOnboardingDialog {
    .WhiteboardOnboardingDialog__body {
      margin: 0 0 1.5rem 0;
      font-size: 0.95rem;
      color: var(--color-gray-80);
    }

    .WhiteboardOnboardingDialog__actions {
      display: flex;
      justify-content: flex-end;
      gap: 0.75rem;
    }
  }
}
